.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    text-transform: capitalize;
    cursor:default;
}

.table-header h2{
    color: #111111;
    cursor:default;
}

.quantity-changer{
    text-align: center;
}

.quantity-changer button {
    padding: 5px 10px;
    color: #111111;
    background-color:#eeeeee;
    cursor: pointer;
}