h1 {
    font-size: 32px;
    font-weight: 900;
    margin-bottom: 5px;
}

p {
    font-size: small;
    padding: 5px;
}

p.ingredients {
    font-size: medium;
    font-weight: 300;
}

.list-dropdown{
    display: flex;
    justify-content: space-between;
}

.hide{
    display:none;
}