.header {
    background-color: #eeeeee;
    min-height: 60px;
}

nav a {
    display: flex;
    justify-content: center;
    
}

nav a img {
    width: 250px;
}

.menu {
    position: absolute;
    top: 0px;
    right: 0px;
    padding: 10px;
    font-size: 2em;
    color: #111111;
    border: none;
    cursor: pointer;
}
.menu-item {
    display: flex;
    justify-content: space-between;
}

.active {
    background-color: #e1c6f8;
}